body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: rgb(68, 155, 126);
  border: black 18px;
}

.textarea{
  background: transparent;
  color:white;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 11px;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
 }
  
 .time-block{
  text-align: center;
  border-radius: 15px;
 }
  
 .row {
  white-space: pre-wrap;
  height: 60px;
  border-top: 1px solid white;
 }
  
 .hour {
  background-color:white;
  color: #000000;
  border-top: 1px solid #000000;
  text-align: center;
  padding: 20px;
 }
  
 .past {
  background-color: #a5a3a3;
  color: white;
 }
  
 .present {
  background-color: #ff6961;
  color: white;
 }
  
 .future {
  background-color: #77dd77;
  color: white;
 }
  
 .saveButton {
  border-left: 1px solid black;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color:purple;
  color: black;
 }

 